html{
  background: #fff;
}

html, body {
  overflow-x: hidden;
  height: 100%;

  display: flex;
  flex-direction: column;
}

a{
  text-decoration: none;
}

.wrapper{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.wrapper{
  @include md-min {
    width: 750px;
  }
  @include lg-min{
    width: 970px;
  }
  @include xl-min{
    width: 1170px;
  }
}

section{
  padding: 50px 0;
  flex: 1 0 auto;
}
h1{
  color: #000;
  text-align: center;
  font-size: 30px;
  margin: 40px 0 15px 0;
  @include md-max{
    font-size: 28px;
  }
}

.header{
  background: #001638;
  &__content{
    height: 80px;
    @include flex();
    align-items: center;
  }
  &__logo{
    width: 200px;
    font-size: 26px;
    font-weight: 500;
    color: #ffffff;
  }
  &__btn{
    font-size: 20px;
    color: #000;
    background: #ffffff;
    padding: 10px 20px;
  }
}
.footer{
  height: 80px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  &__copyright{
    color: #fff;
  }
}